<!--選擇bar-->
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                     <li><a href="Login.aspx">報修登入</a></li>
                 </ul>
                 <ul class="nav navbar-nav navbar-right">
                      <li><a [routerLink]="['/repair']">報修申請</a></li>
                 </ul>
                 <ul class="nav navbar-nav navbar-right">
                     <li><a href="place.aspx">空間管理配置表</a></li>
                 </ul>
               </div>
            </nav>